header {
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 74px;
  z-index: 999;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-top: -11px;
}

.left_area span {
  color: #1DC4E7;
}

.logout_btn {
  padding: 7px;
  background: #19B3D3 !important;
  text-decoration: none !important;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  color: #fff !important;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0D9DBB !important;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 221px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}