.content {
  margin-left: 250px;
  position: relative;
  top:100px;
  padding-left: 0px;
}

#check:checked ~ .content {
  margin-left: 60px;
}

.content .content-spinner {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 15rem;
}